html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


button{
  font-size: 2rem;
  width: 100px;
  margin: 1rem;
}

.App-intro {
  font-size: 7rem;
  margin-bottom: 4rem;
}
